@media (max-width: 1152px) {
    .arrow-left, .arrow-right {
        display: none;
    }
    .slider-arrows__right, .slider-arrows__left {
        right: 10px;
    }
}
@media (max-width: 1129px) {
    .car__slider-item-car {
        padding: 0;
    }
}
@media (max-width: 946px) {
    .conpany__inner {
        display: block;
    }
    .conpany__infa {
        margin-left: 0;
        margin-top: 40px;
        justify-content: center;
    }
    .conpany__description {
        width: 100%;
    }
}
@media (max-width: 800px) {
    .nav__menu {
        display: none;
        position: absolute;
        top: 100px;
        left: 0;
        text-align: center;
        width: 100%;
        background-color: #C8A35F;
        z-index: 5;
    }
    .nav__menu a {
        display: block;
    }
    .nav__btn {
        width: 30px;
        height: 20px;
        position: relative;
    }
    .nav__btn span {
        width: 100%;
        height: 2px;
        position: absolute;
        background-color: #C8A35F;
        top: 9px;
    }
    .nav__btn::after, .nav__btn::before {
        content: "";
        width: 100%;
        height: 2px;
        position: absolute;
        background-color: #C8A35F;
    }
    .nav__btn::after {
        top: 0;
    }
    .nav__btn::before { 
        bottom: 0;
    }
    .nav__menu li:first-child {
        padding: 30px 0;
    }
    .nav__menu li+li {
        padding-left: 0;
        padding-bottom: 30px;
    }
    .title__item-title {
        font-size: 36px;
        line-height: 55px;
        margin-bottom: 25px;
    }
    .car__slider-item__title {
        font-size: 36px;
    }
}
@media (max-width: 768px) {
    .footer__inner {
        padding: 16px 0;
        display: block;
        text-align: center;
    }
    .footer-email, .footer__tel {
        padding-top: 10px;
    }
}
@media (max-width: 720px) { 
    .car__slider-item-car img {
        width: 345px;
        height: 206px;
    }
}
@media (max-width: 640px) { 
    .title__inner {
        padding: 0;
    }
    .car__slider {
        padding: 40px 0;
    }
    .slider-arrows__right {
        top: 330px;
    }
    .slider-arrows__left {
        top: 40px;
    }
    .inner {
        margin-top: 40px;
    }
    .car-left, .car-right {
        height: 456px;
    }
    .car__slider {
        top: -456px;
    }
    .conpany__box {
        margin: 40px 0;
    }
    .conpany__inner {
        padding: 41px 0;
        background-size: cover;
    }
}
@media (max-width: 565px) {
    .car__slider-item-car img {
        width: 245px;
        height: 146px;
    }
}
@media (max-width: 480px) { 
    .car__slider-item-car img {
        display: none;
    }
}
@media (max-width: 445px) { 
    .title__item {
        padding: 15px;
    }
}
@media (max-width: 425px) { 
    .footer__title {
        display: block;
    }
    .footer__office {
        padding-top: 10px;
    }
}
@media (max-width: 411px) { 
    .nav__logo, .nav__line {
        margin-right: 15px;
    }
}
@media (max-width: 375px) { 
    .nav__line {
        display: none;
    }
}
@media (max-width: 352px) { 
    .nav__office {
        margin-right: 15px;
    }
}